@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.line1 {
    border-top: 1px solid rgba(0,105,80,255);
    width: 80px;
    position: absolute;
    transform: rotate(43deg);
    transform-origin: 27px 3px;
}

.line2 {
    border-top: 1px solid rgba(0,105,80,255);
    width: 80px;
    position: absolute;
    transform: rotate(-43deg);
    transform-origin: 75px 45px;
}

.dot {
    background-color: rgba(0,105,80,255);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    overflow: hidden;
}
